body{
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-grain-dark-red-particle-background-material-red-particlesparticle-background-image_86098.jpg);
  /* background-size: cover; */
  background-repeat: repeat;
  background-position: top;

}
ul {
  list-style: none;
}
.body-fixed{
  position: fixed;

}
.modal {
  /* display: none; */
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);

  }

.log{
  cursor: pointer;
  position: fixed;
}
.log :hover {
  opacity: 0.5;
}



.wood{
  border-top: 2px rgba(179, 142, 124, 0.829) ridge;
  background-image: url(https://photo-chips.com/user_data/00003149.jpg);
   background-size: cover; 
   background-repeat: repeat-y; 
  box-shadow: 0px -12px 10px 7px rgb(41, 5, 5);
  /* height: 30vh; */
  width: 100vw;

}
.vh-100 {
  height: 100vh;
  width: 100vw;
}


.mb-150px{
  margin-bottom: 150px;
}
.mb-200px{
  margin-bottom: 200px;
}

.img-size{
  width: 2em;
  height: 2em;
}

/* button */
.btn-real-dent {
  /*周りの凹み*/
  display: inline-block;
  position: relative;
  text-decoration: none;
  /* color: rgba(3, 169, 244, 0.54); */
  color: white;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  text-align: center;
  /* background: #f7f7f7; */
  background: #ebe8e2;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.btn-red i {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  line-height: 3em;
  right: 0.455em;
  bottom: 0.5em;
  border-radius: 50%;
  font-size: 1.3em;
  background-image: linear-gradient(#f10d0d 50%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(250, 4, 4, 0.66);
  box-shadow: inset 0 2px 0 rgba(212, 4, 4, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #ce1010;
}
.btn-blue i {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  line-height: 3em;
  right: 0.455em;
  bottom: 0.5em;
  border-radius: 50%;
  font-size: 1.3em;
  background-image: linear-gradient(#3421e4 50%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(28, 74, 199, 0.66);
  box-shadow: inset 0 2px 0 rgba(60, 11, 197, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #3e06d8;
}
.btn-yellow i {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  line-height: 3em;
  right: 0.455em;
  bottom: 0.5em;
  border-radius: 50%;
  font-size: 1.3em;
  background-image: linear-gradient(#ebc415 50%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgb(245, 241, 8);
  box-shadow: inset 0 2px 0 rgb(212, 226, 16), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #f1da05;
}
.btn-green i {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  line-height: 3em;
  right: 0.455em;
  bottom: 0.5em;
  border-radius: 50%;
  font-size: 1.3em;
  background-image: linear-gradient(#19b414 50%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(53, 177, 4, 0.582);
  box-shadow: inset 0 2px 0 rgba(29, 202, 14, 0.808), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #195501;
}
.btn-log i {
  position: absolute;
  content: '';
  width: 3em;
  height: 3em;
  line-height: 3em;
  right: 0.455em;
  bottom: 0.5em;
  border-radius: 50%;
  font-size: 1.3em;
  background-image: linear-gradient(#19b414 50%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(53, 177, 4, 0.582);
  box-shadow: inset 0 2px 0 rgba(29, 202, 14, 0.808), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #195501;
}
.btn-real-dent .fa:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;

}

.btn-real-dent :hover{
  opacity: 0.8;
}
.unselectableBtn{
  opacity: 0.5;
}

/* card */
.card{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  margin: 0%;
  padding: 0%;
 

}

.card div{
  position: absolute;
  /* width: 160px;
  height: 230px; */
  width: 4.5rem;
  height: 6rem;
  font-size: 0.8em;
  text-align: center;
  line-height: 80px;
  background-color: #fff;
  border: 8px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
  transition: all 0.8s ease-in-out 0.2s;
}
.card div span{
  position: absolute;
  left:0;
  top: 0;
  font-size: 1em;
  width: auto;
  line-height: 1em;
}
.card div span:last-child{
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}
 div.front{
  transform: perspective(400px) rotateY(-180deg);
}

  .back-rotate{
    
    transform:  perspective(400px) rotateY(180deg);
  }
   .front-rotate{
    transform:  perspective(400px) rotateY(0deg) !important;
  }

/* div.card:hover div.back{
  transform:  perspective(400px) rotateY(180deg);
}
div.card:hover div.front{
  transform:  perspective(400px) rotateY(0deg);
} */
div.card div.back{
  background-color:rgb(41, 117, 204);
}

.undifined{
  background-color: gray;
  border-radius: 5px;
}
.hit{
  background-color: green;
  border-radius: 5px;
}
.double{
  background-color:  orange;
  border-radius: 5px;
}
.doubleStand{
  background-color: orange;
  border-radius: 5px;
}
.stand{
  background-color: red;
  border-radius: 5px;
}
.surrender{
  background-color: blue;
  border-radius: 5px;
}
.bust{
  background-color: purple;
  border-radius: 5px;
}
.BlackJack{
  background-color: yellowgreen;
  border-radius: 5px;
}

.suit-red{
  color: red;
}

.hand-score{
  background-color: #a7a7b4f5;
  color: white;
  border-radius: 100%;
}



@media screen and (max-width: 900px) {
  .mb-sm-100px{
    margin-bottom: 100px;
  }
}